
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Download</title>
</head>
<body>
    <div> 
        @foreach (var item in ViewData.Model)
        {
            @Html.ActionLink((string)item, "DownloadFile", new { filename = item });
            <br />
        }
    </div>
</body>
</html>
