
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <h1> About Us Page</h1>
            </td>
        </tr>
    </table>
</body>
</html>
