
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View404</title>
</head>
<body>
    <table>
        <tr>
            <td><h1>Error/View404 Page</h1></td>
        </tr>
    </table>
</body>
</html>
