
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Help</title>
</head>
<body>
    <table>
        <tr>
            <td>    <h1>    Help Page  </h1></td>
        </tr>
    </table>
</body>
</html>
