
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @foreach (var item in ViewData.Model)
        {
            @item["Name"]
        }
    </div>
</body>
</html>
