<table style="width:100%;">
    <tr>
        <td>
            @Html.ActionLink("Home","","")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("About Us", "", "")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Contact Us", "", "")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Sitemap", "", "")
        </td>
    </tr>
</table>
