
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <table>
        <tr>
            <td>   <h1> Custom Error Page</h1> </td>
        </tr>
    </table>
</body>
</html>
