
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   <table>
       <tr>
           <td>
               @Html.ActionLink("Return File Path Result", "downloadFile","Home")
           </td>
       </tr>
       <tr>
           <td>
               @Html.ActionLink("Return File", "downloadTextFile", "Home")
           </td>
       </tr>
   </table>
</body>
</html>
