
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <h1>About Page</h1>
            </td>
        </tr>
    </table>
</body>
</html>
