
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        <tr>
            <td>
                @Html.ActionLink("About Us Redirect", "redirect","Home")
            </td>
            <td>
                @Html.ActionLink("About Us Redirect Permanenet", "redirectPermanent", "Home")
            </td>
        </tr>
    </table>
</body>
</html>
